body {
background-color: lavender;
}

h1 {
  font-family: fantasy;
  text-align: center;
}
.info {
  font-family: Georgia;
  color: purple;
  margin: auto;
}
.infoleft {
  font-family: Georgia;
  color: blue;
  margin-left: auto
}
.pics {
  border-style: dotted;
  border-width: thick;
  border-color: white;
  float: left;
}
.picsright {
  border-style: dotted;
  border-width: thick;
  border-color: white;
  float: right;
}
.wrap {
	width: 900px;
	margin: 0 auto;
}
